<template>
  <nav class="fixed-top navbar navbar-expand-lg navbar-light bg-light blue-gradient">
    <a href="/" class="logo-container">
      <img src="/public/assets/navbar/logo.JPG" alt="logo" width="50" height="50" class="d-inline-block align-text-top"/>
    </a>
    <a class="navbar-brand" href="#">KaaS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <template for:each={navItems} for:item="nav">
          <li class="nav-item active" key={nav}>
            <a class="nav-link" href="#" name={nav} onclick={navbarSelection}>{nav}</a>
          </li>
        </template>
    <!-- Dropdown for 'The Us' section -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" onmouseover={handleMouseOver} data-bs-toggle="dropdown" aria-expanded="false">
        The Us
      </a>
      <!-- Include the LWC for the dropdown content -->
      <components-theusdropdown if:true={dropdownOpen}><p>Static content for testing</p></components-theusdropdown>
    </li>
  </ul>
  </div>
  </nav>
</template>