<template>
<section class= "banner blue-gradient content-center">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="banner-title text-white text-center">
                        <h1 class="mb-4 h1">{banner}</h1>
                        <p class="mb-5 h6">{bannerDescription}</p>
                        <a class="btn btn-lg banner-button">Contact Us</a>
                </div>
            </div>
            <div class="col-md-5">
                <img src="/public/assets/banner/intellectaszip.jpeg" alt="banner" width="100%" height="auto">
            </div>
        </div>
    </div>
</section>
</template>